<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header') %>

  <body>

    <%- include('../layouts/homeNav') %>

    <%- include('../layouts/herosection') %>


      <div class="page-section">
        <div class="container">
          <h1 class="text-center mb-5 wow fadeInUp">Our Doctors</h1>
            <% if (hospitals) { %>
                <% hospitals.forEach(hospital => { %>
                  <div class="col g-3 align-content-lg-start">
                    <h1 class="mb-5 wow fadeInUp"><%= hospital.name %></h1>
                    <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
                      <% if (hospital.staffs ) { %>
                        <% hospital.staffs.forEach(doctor=> { %>
                          <div class="item">
                            <div class="card-doctor">
                              <div class="header">
                                <img src="<%= doctor.profile.picture %>" alt="<%= doctor.firstname %>">
                                <div class="meta">
                                  <a href="<%= doctor.contact %>"><span class="mai-call"></span></a>
                                  <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                              </div>
                              <div class="body">
                                <p class="text-xl mb-0"><%= doctor.title %> <%= doctor.firstname %></p>
                                <span class="text-sm text-grey"><%= doctor.position.toUpperCase() %></span>
                              </div>
                            </div>
                          </div>
                          <% }) %>
                            <% } else { %>
                                <p>No recored found</p>
                              <% } %>
          
          
          
                    </div>
                    </div>
                <% }) %>
            <% } %>

        </div>
      </div>


      <%- include('../forms/contacts/appointments') %>

      <%- include('../layouts/footer') %>

  </body>

</html>